/**
 * Posts and Pages
 */
.card-body {
    margin: 10px;
}
.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);

    margin: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card .card-header.no-border {
    border: 0;
}
.card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}
.widget-49 .widget-49-title-wrapper {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edf1fc;
  width: 150px;
  
  height: 80px;
//   border-radius: 50%;
//   flex-flow: row wrap;
span {
    width: 100%;
}
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
  color: #4e73e5;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
  color: #4e73e5;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
  color: #3c4142;
  font-size: 14px;
}
.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
  color: #B1BAC5;
  font-size: 13px;
}
.widget-49 .widget-49-meeting-points {
  font-weight: 400;
  font-size: 13px;
  margin-top: .5rem;
}
.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
  display: list-item;
  color: #727686;
}
.widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
  margin-left: .5rem;
}
.widget-49 .widget-49-meeting-action {
  text-align: right;
}
.widget-49 .widget-49-meeting-action a {
  text-transform: uppercase;
}

.post {
    // float: left;
    height: auto;
    padding: 10px;
    align-items: center;

}


.post-meta {
    color: _palette(meta);
    font-size: 0.88889rem;
}

.post-subtitle {
    color: _palette(secondary);
    font-size: 1.33333rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}


.post-feed {
    width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
  grid-auto-rows: minmax(10px, auto);
  
    .post {
        // border: 1px solid #3bc9db;
        // border-radius: 3px;
        // background-color: #99e9f2;
        // font-size:250%;
        // color: #fff;
        
        // align-items: center;
        // justify-content: center;
        // border-bottom: 1px dashed _palette(border);
        // padding-bottom: 0.83333em;
        // grid-row-end: span 20;
        &:last-child {
            border: 0;
            padding-bottom: 0;
        }
    }

//     .post-header,
    // .post-thumbnail {
        
    // }

//     .post-title {
//         font-size: 1.66667rem;
//     }

//     .post-meta {
//         font-size: 14px;
//     }
}

@media only screen and (max-width: 1000px) {
    .post-feed {
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-auto-rows: minmax(10px, auto);}
    // .post {
    //     margin-bottom: 3.33333em;
    // }

    // .post-header {
    //     // margin-bottom: 2.5em;
    // }

    // .post-feed {
    //     .post {
    //         padding-bottom: 1.66667em;
    //     }
    // }
}
